html {
    background-color: #604E3D;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 900px;
    
}

.game {
    width: 700px;
    height: 850px;
    background: #7F6950; 
    box-shadow: 10px 10px 25px #0c0c0c62;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.titre {

    margin-bottom: 0;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 25px;
}

.question {

    margin: 35px 70px;
    text-align: center;
    color: black;
    font-weight: 100;
    font-size: 16px;
}

.imgOuVideoContainer {

    display: flex;
    align-items: center;
    justify-content: center;

    width: 50%;
    margin: 10px;

}

.video {
    width: 100%;
}

#image {
    width: 100%;    
}

.boutonContainer {
    
    margin: 45px 80px;
 

}

.bouton {

    padding: 16px 50px;
    background-color: #f7f7f7;
    border-radius: 8px;
    text-decoration: none;
    color: #161616;
    font-size: 17px;
    font-weight: 500;

}

.btnContainerHTML {
    display: flex;
    margin-top: 40px;
    margin-right: 500px;

}

#btnEfface {

    padding: 2px 2px;
}

.son {

    padding: 10px 20px;

}

.bouton:hover {

    background-color: #dddddd;

}